* {
  box-sizing: border-box;
}

body {
	width: 80%;
	margin:auto;
}

#myInput {
  background-image: url('/css/searchicon.png');
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333333;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-color: #e7e7e7;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myInput:focus {
  background-color: #eeeeee;
}

#pnotes {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  color: #cec59f;
}

#pnotes td, #pnotes th {
  border: 1px solid #aaa;
  padding: 8px;
}

#pnotes tr:nth-child(even){background-color: #292929;}

#pnotes tr:hover {background-color: #555555;}

#pnotes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}